.tooltip {
  border-bottom: 1px dashed #999;
  cursor: help;
  padding-bottom: 3px;
  position: relative;
}

.tooltip:after {
  background: #000;
  border-radius: 10px;
  content: attr(data-tooltip);
  color: #f00;
  display: none;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 25px;
  width: 100px;
}

.tooltip:hover:after {
  display: inline-block;
}

.tooltip .fa {
  padding-left: 3px;
}
